.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    background-color:white;
    border: 2px solid black;    
    box-shadow: 10px 10px 60px 10px black;    
      
}
.containerHelp{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color:white;  
    padding-bottom: 70px;
    border: 2px solid black;
    box-shadow: 10px 10px 60px 10px black;          
}
.proposta{
    font-size: 16pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.prop{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    font-size: 16pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nome{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.txte{
    font-family: Calibri;
    font-size: 18pt;
    justify-content: left;
}

.candname{
    font-family: Calibri;
    font-size: 18pt;
}

#cand{
    font-size: 16pt;
    border: 2px solid black;
    cursor: default;
}

#imgcand{
    border: 2px solid black;
}

.btnTec{
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20pt;
    cursor: pointer;
    border-radius: 7px;
}
.btnTec:hover{
    background-color: rgb(49, 49, 49);
}

.helpname{
    text-decoration: none;
}

.tec{
    background-color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px dotted black;
}

.l1{
    display: flex;
    justify-content: center;    
    align-content: space-between;
    align-items: center;
}

.l2{
    display: flex;
    justify-content: center;    
    align-content: space-between;
    align-items: center;
}

.l3{
    display: flex;
    justify-content: center;    
    align-content: space-between;
    align-items: center;
}

.l4{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

.btnOp1{
    width: 120px;
    height: 50px;
    background-color: rgb(104, 172, 2);
    font-size: 16pt;
    font-family: Calibri;
    border-radius: 7px;
    cursor: pointer;
}
.btnOp1:hover{
    background-color: rgb(86, 131, 20);
    color: #fff;
}

.btnOp2{
    width: 120px;
    height: 50px;
    background-color: orange;
    font-size: 16pt;
    font-family: Calibri;
    border-radius: 7px;
    cursor: pointer;
}
.btnOp2:hover{
    background-color: rgb(134, 90, 9);
    color: #fff;
}

.btnOp3{
    width: 120px;
    height: 50px;
    background-color: white;
    font-size: 16pt;
    font-family: Calibri;
    cursor: pointer;
    border-radius: 7px;
}
.btnOp3:hover{
    background-color: rgb(133, 133, 133);
    color: #fff;
}

.cand{
    width: 220px;
    height: 250px;

}

#fotocan{
    width: 220px;
    height: 250px;
}

body{
    background-color: #DCDCDC;

}

.LiAjuda{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24pt;
}

#help{
    font-size: 16pt;
    background-color: bisque;
    cursor: pointer;
}
#help:hover{
    background-color: rgb(197, 178, 155);
}

.txtProp{
    font-size: 16pt;
}

#c1{
    font-size: 16pt;
    background-color: bisque;
    cursor: pointer;
}
#c1:hover{
    background-color: rgb(187, 168, 144);
}

#c2{
    font-size: 16pt;
    background-color: bisque;
    cursor: pointer;
}
#c2:hover{
    background-color: rgb(187, 168, 144);
}

#c3{
    font-size: 16pt;
    background-color: bisque;
    cursor: pointer;
}
#c3:hover{
    background-color: rgb(187, 168, 144);
}

#c4{
    font-size: 16pt;
    background-color: bisque;
    cursor: pointer;
}
#c4:hover{
    background-color: rgb(187, 168, 144);
}

#c5{
    font-size: 16pt;
    background-color: bisque;
    cursor: pointer;
}
#c5:hover{
    background-color: rgb(187, 168, 144);
}

#c6{
    font-size: 16pt;
    background-color: bisque;
    cursor: pointer;
}
#c6:hover{
    background-color: rgb(187, 168, 144);
}

#voltar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16pt;
    cursor: pointer;
    background-color: bisque;
}
#voltar:hover{
    background-color: rgb(187, 168, 144);
    
}

#reiniciar{
    font-size: 16pt;
    background-color: rgb(206, 83, 83);
    cursor: pointer;
}
#reiniciar:hover{
    background-color: rgb(158, 37, 37);
    color: #fff;
}

/*.c-loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid #e5e5e5;
    border-top-color: #0d730d;
    animation: is-rotating 1s infinite;
  }
  
  @keyframes is-rotating{
    to{
      transform: rotate(1turn);
    }
  } */
